<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.eclipse.ui.perspectives" name="org.eclipse.ui.perspectives" schema="schema/org.eclipse.ui.perspectives.exsd"/>
   <extension-point id="org.eclipse.ui.perspectiveExtensions" name="org.eclipse.ui.perspectiveExtensions" schema="schema/org.eclipse.ui.perspectiveExtensions.exsd"/>
   <extension-point id="org.eclipse.ui.newWizards" name="org.eclipse.ui.newWizards" schema="schema/org.eclipse.ui.newWizards.exsd"/>
   <extension
         point="org.eclipse.ui.perspectives">
         <perspective
            class="org.aimas.consert.ide.perspective.PerspectiveFactory1"
            fixed="true"
            id="ConsertPerspective.perspective1"
            name="ConsertPerspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
         <perspectiveExtension
            targetID="ConsertPerspective.perspective1">
            <view
                  id="org.eclipse.jdt.ui.PackageExplorer"
                  minimized="false"
                  moveable="false"
                  ratio="0.5"
                  relationship="left"
                  relative="org.eclipse.ui.console.ConsoleView"
                  visible="true">
            </view>
 
            <view
                  id="org.eclipse.ui.console.ConsoleView"
                  minimized="false"
                  moveable="false"
                  ratio="0.5"
                  relationship="right"
                  relative="org.eclipse.jdt.ui.PackageExplorer"
                  visible="true">
            </view>
            
            
           
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="ConsertPerspective.consertProject"
            name="ConsertProject">
      </category>
      <wizard
            category="ConsertPerspective.consertProject"
            class="org.aimas.consert.ide.wizards.ConsertProjectWizard"
            finalPerspective="ConsertPerspective.perspective1"
            hasPages="true"
            icon="icons/ConsertProject.png"
            id="ConsertPerspective.ProjectWizard"
            name="ConsertProject"
            project="true">
      </wizard>
      <category
            id="ConsertPerspective.contextmodeldefinition"
            name="ContextModelDefinition">
      </category>
      <category
            id="ConsertPerspective.contextentity"
            name="ContextEntity"
            parentCategory="ConsertPerspective.contextmodeldefinition">
      </category>
      <wizard
            category="ConsertPerspective.contextmodeldefinition/ConsertPerspective.contextentity"
            class="org.aimas.consert.ide.wizards.ContextEntityWizard"
            finalPerspective="ConsertPerspective.perspective1"
            hasPages="true"
            icon="icons/cherry1600.png"
            id="ConsertPerspective.contextentity"
            name="ContextEntity"
            project="false">
      </wizard>
      <category
            id="ConsertPerspective.contextassertion"
            name="ContextAssertion"
            parentCategory="ConsertPerspective.contextmodeldefinition">
      </category>
      <wizard
            category="ConsertPerspective.contextmodeldefinition/ConsertPerspective.contextassertion"
            class="org.aimas.consert.ide.wizards.ContextAssertionWizard"
            finalPerspective="ConsertPerspective.perspective1"
            hasPages="true"
            icon="icons/cherry1600.png"
            id="ConsertPerspective.contextassertion"
            name="ContextAssertion"
            project="false">
      </wizard>
             
     
   </extension>
   <extension
         id="consertperspective.projectNature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.aimas.consert.ide.projects.ProjectNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="CONSERT-IDE.category1"
            name="ConsertProject">
      </category>
      <wizard
            category="CONSERT-IDE.category1"
            class="org.aimas.consert.ide.wizards.ConsertProjectImportWizard"
            icon="icons/ConsertProject.png"
            id="CONSERT-IDE.wizard1"
            name="ConsertProject">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.aimas.consert.ide.editor.MultiPageEditor"
            contributorClass="org.aimas.consert.ide.editor.MultiPageEditorContributor"
            default="true"
            extensions="txt"
            filenames="consert.txt"
            id="org.aimas.consert.ide.editor.MultiPageEditor"
            name="ConsertMultiPageEditor">
      </editor>
      <editor
            class="org.aimas.consert.ide.editor.entity.EntityMultiPageEditor"
            contributorClass="org.aimas.consert.ide.editor.MultiPageEditorContributor"
            default="false"
            id="org.aimas.consert.ide.editor.entity.EntityMultiPageEditor"
            name="ConsertEntityMultiPageEditor">
      </editor>
      <editor
            class="org.aimas.consert.ide.editor.assertion.AssertionMultiPageEditor"
            contributorClass="org.aimas.consert.ide.editor.MultiPageEditorContributor"
            default="false"
            id="org.aimas.consert.ide.editor.assertion.AssertionMultiPageEditor"
            name="ContextAssertionMultiPageEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="org.aimas.consert.ide.category.view"
            class="org.aimas.consert.ide.views.TreeViewerNew"
            id="org.aimas.consert.ide.views.TreeViewerNew"
            name="TreeViewerNew"
            restorable="true">
      </view>
      <category
            id="org.aimas.consert.ide.category.view"
            name="CONSERT">
      </category>
   </extension>
</plugin>
